.UserList {
    padding-left: 500px;
    padding-right: 500px;
}
.AdminMsg {
    text-align: center;
}
.AdminUserBtns {
    float: right;
}
.AdminCreateUser {
    text-align: center;
    padding-left: 600px;
    padding-right: 600px;
}