.round {
    border-radius: 10%;
    height: 50%;
    width: 50%;
}
.center {
<<<<<<< HEAD
    /* width: 70%; */
=======
    margin: auto;
    width: 70%;
>>>>>>> 795fcf6 (Finishing layout of page)
    padding-top: 10%;
    padding-bottom: 10%;
  }
#password {
    padding: 100px;
}